.icon-details-container {
  position: fixed;
  bottom: 0;
  z-index: 99999;
  width: calc( 100% - 2rem );
  max-width: 70rem;
  transform: translateY(100%);
  transition: transform $transition--expansion $carbon--standard-easing; 
  
  &.active {
    transform: translateY(0);
  }

  @include carbon--breakpoint('md') {
    width: calc( 100% - 4rem );
  }

  @include carbon--breakpoint('lg') {
    width: calc( 75% - 3.5rem );
  }
}

.icon-details {
  background-color: $carbon--gray-100;
  color: $carbon--gray-10;
}

.icon-details-header {
  padding: 1rem;
  border-bottom: 1px solid $carbon--gray-80;
  display: flex;
  justify-content: space-between;
}

.icon-details-close {
  cursor: pointer;
  fill: $carbon--gray-10;
  border: none;
  background-color: transparent;
  padding: 0;

  &:focus {
    outline: 2px solid $focus;
  }
}

.icon-details-content {
  display: flex;
  flex-direction: column;

  @include carbon--breakpoint('md') {
    flex-direction: row;
  }
}

.icon-details-section {
  padding: 1rem;
  border-top: 1px solid $carbon--gray-80;
  
  &:first-of-type {
    border-top: none;
  }
  
  @include carbon--breakpoint('md') {
    border-left: 1px solid $carbon--gray-80;
    border-top: none;

    &:first-of-type {
      border-left: none;
    }
  }
}

.icon-details-section-item {
  margin-top:1rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.icon-details-section-header {
  color: $carbon--gray-30;
  display: block;
}

.icon-details-download {
  color: $carbon--blue-50;
  text-decoration: none;
  svg {
    fill: $carbon--blue-50;
  }
}

.icon-details-icon-list {
  list-style: none;
  margin-top: .5rem;
  display: flex;

  li {
    width: rem(40px);
    height: rem(40px);
    border: 1px solid $carbon--gray-80;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $carbon--white-0;

    &:first-of-type {
      border-left: 1px solid $carbon--gray-80;
    }

    button {
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: $carbon--gray-90;
      }
    }
  }
}

.icon-details-related-list {
  list-style: none;
  display: flex;

  li {
    margin-left: .25rem;

    &:first-of-type {
      margin-left: 0;
    }
    
    button {
      border: none;
      background-color: transparent;
      padding: 0;
      color: $carbon--gray-10;
      cursor: pointer;

      &:focus {
        outline: 2px solid $focus;
      }
    }
  }
}